
--drop Table EmployeeTest
create table EmployeeTest  
(  
   EmpId int ,  
   FirstName varchar(100),  
   LastName varchar(100),  
   JoinDate datetime ,  
   Salary int ,  
   Department varchar(20)  
)  

insert into EmployeeTest(EmpId, FirstName,LastName,JoinDate,Salary,Department)values(1,'Rakesh','Kalluri','2012-07-01 10:00:00.000',20000,'Software')  
insert into EmployeeTest(EmpId, FirstName,LastName,JoinDate,Salary,Department)values(2,'Shabari','Vempati','2011-05-01 10:00:00.000',25000,'Software')  
insert into EmployeeTest(EmpId, FirstName,LastName,JoinDate,Salary,Department)values(3,'Venkatesh','Bodupaly','2013-04-01 10:00:00.000',15000,'Bpo')  

select * from EmployeeTest 


select * from EmployeeTest order by Salary 

--Rank
select * ,Rank() over (order by Salary desc) as Row_Num from EmployeeTest 


select * ,Rank() over (partition by department order by Salary desc) as Row_Num from EmployeeTest 


--Densk Rank
select * ,dense_rank() over (order by Salary desc) as [Dense_rank] from EmployeeTest  

select *,dense_rank() over (partition by department order by Salary desc) as [Dense_rank] from EmployeeTest  

--row_number()

select *, row_number() over (order by Salary desc) as Row_Num from EmployeeTest 

--ntile(3) 

select *, ntile(4) over (order by Salary desc) as Row_Num from EmployeeTest 


select ntile(4)  over (partition by MaritalStatus order by yearlyincome desc) As Rank_Test,* into #test from dimcustomer 


Select * from #test where Rank_Test=1


Select * from EmployeeTest order by Salary desc 

select top 5 * from EmployeeTest order by Salary desc 


-- 1st Approach\Method:Find the nth salary

select * ,dense_rank() over (order by Salary desc) as [Dense_rank] into #RankTest from EmployeeTest  

Select * from #RankTest where [Dense_rank] = 2

select * ,dense_rank() over (partition by department order by Salary desc) as [Dense_rank] into #RankTest1 from EmployeeTest  


Select * from #RankTest1 where department = 'Software' and [Dense_rank] = 3


-- 2nd Approach\Method: Using Sub Query

Select * from (select * ,dense_rank() over (order by Salary desc) as rnk  from EmployeeTest ) as k 
where k.rnk = 2


-- 3rd Approach\Method: CTE
With FindNthSalary
As
  (
  select * ,dense_rank() over (order by Salary desc) as rnk  from EmployeeTest
  )
Select * from FindNthSalary where rnk = 3


-- Remove Duplicate


--	Top n Clause

Select * from dimcustomer order by 1 desc

Select top 100 * from dimcustomer order by 1 desc

Select top 100 * from dimcustomer

